<br><br><br>
<div class="row" style="margin-bottom: 20px;">
    <div class="col s12 light-blue darken-1 white-text">
        <h5 class="center">© 2017 {{ title }}, All rights reserved.</h5>
    </div>
</div>