{% extends 'base.html.twig' %}

{% block body %}

    <br>

    <div class="row">
        {{ form_start(form) }}
        <div class="input-field col s8 offset-s2">
            {{ form_row(form.username) }}
        </div>
        <div class="input-field col s8 offset-s2">
            {{ form_row(form.email) }}
        </div>
        <div class="input-field col s8 offset-s2">
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
{% endblock %}
