body{
    font-family: 'Nunito', sans-serif;
    background-color: #e1f5fe;
}

.text-centered {
    text-align: center;
}

.btn {
    margin: 0 2px 0 2px;
}

.pointer {
    cursor: pointer;
}

.margin-right-buton {
    margin-right: 30px;
}

label.required {
    margin-right: 30px;
}

/* -------------------- Image on article show -------------------- */

@media screen and (min-width: 1400px) {
    .pic_article {
        display: flex;
    }
}


/* -------------------- Image on library -------------------- */


.img-hover {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* -------------------- Tooltip button -------------------- */

.img-hover:hover {
    opacity: .8;
    cursor: pointer;
}

.material-tooltip {
    border-radius: 20px;
}
