{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="center">Administration</h3>

    <p class="center">
        <a href="{{ path('user_list') }}" role="button" class="btn waves-effect waves-light blue lighten-2"><i class="fa fa-eye"></i> View all users</a>
    </p>

{% endblock %}

{% block stylesheets %}
{% endblock %}
